<nav class="heading navbar bg-transparent navbar-dark navbar-expand-lg">
    <div class="supportHeading container-fluid ">
        <!-- To provide a link to navigate back -->
        <a class="cart navbar-brand" href="#">Go Back</a>
        &nbsp;
        <button class="button navbar-toggler bg-transparent" type="button" 
        data-bs-toggle="collapse" data-bs-target="#supportingContent" aria-controls="supportingContent" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
