<header class="heading py-2">
    <div class="subHeading container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-3 fw-bolder">
                UrbanHarbor
            </h1>
        </div>
    </div>
</header>
<!-- To display a card view of buttons -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- To provide the links to Login, Register, Search page -->
            <div class="card">
                <div class="text-center">
                    
                </div>
                <button (click)="login()" class="btn btn-dark">Login</button>&nbsp;
                <button (click)="register()" class="btn btn-dark">Register</button>&nbsp;
                <button (click)="goToDisplay()" class="btn btn-dark">
                    Search For Product (Without Login)
                </button>


            </div>
        </div>
        
    </div>
    
</div>
<body class="d-flex flex-column min-vh-100">
    <div class="parent">
        <div class="child container">
            <p class="m-0 text-center text-black">Copyright &copy; UrbanHarbor 2023</p>
        </div>
    </div>
</body>




